<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon color="secondary" name="menu"></ion-icon>
    </button>
    <ion-title>Education Details</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="page-speakers">

	<div style="margin-top:10px!important; margin-left:20px; margin-right:20px">
		<h3>{{EventName}}</h3>
		<p>{{EventSubName}}</p>
		<p>{{DisplayEventTimeDateLocation}}</p>
		<p>{{SpeakerDisplayName}}</p>
		<p>{{EventTypeName}}</p>
		<p [ngClass]="SessionStatusStyle">{{SessionStatus}}</p>
	</div>
	<div class="button-bar" style="margin:10px!important">

		<button ion-button outline color="secondary" *ngIf="btnAgendaManagement" (click)="AgendaManagement()" [style.background-color]="AgendaButtonColor" [style.color]="AgendaButtonTextColor">
			<div>
				<ion-icon color="secondary" name="calendar"></ion-icon>
				<label>{{visAgendaAddRemoveButton}}</label>
			</div>
		</button>
		
		<button ion-button outline color=secondary  *ngIf="btnNotes" (click)="navToNotes(EventID)">
			<div>
				<ion-icon name="create"></ion-icon>
				<label></label>
			</div>
		</button>
<!--Print function not wanted by AACD
		<button ion-button outline color=secondary *ngIf="btnPrint" (click)="printWindow()">
			<div>
				<ion-icon name="print"></ion-icon>
				<label></label>
			</div>
		</button>
-->
	</div>

	<ion-card *ngIf="SpeakerHostShow">
		<ion-card-header class="cardHeader">
			Speaker Host / Emcee
		</ion-card-header>
		  
		<ion-card-content class="myMarginTopBottom">
				{{SpeakerHostEmcee}}
		</ion-card-content>
		  
	</ion-card>

	<ion-card *ngIf="CorporateSupporterShow">
		<ion-card-header class="cardHeader">
			Corporate Supporter
		</ion-card-header>
		  
		<ion-card-content class="myMarginTopBottom">
				{{EventCorporateSupporter}}

		</ion-card-content>
		  
	</ion-card>

	<ion-card *ngIf="AuthorsDisplay">
		<ion-card-header class="cardHeader">
			Speakers
		</ion-card-header>

		<ion-card-content>

			<ion-list id="author-list3">
				<ion-item (click)="SpeakerDetails(speaker.SpeakerID)" *ngFor="let speaker of SpeakerList" id="speakersessions-list-item19">
				
					<ion-avatar item-start>
						<img src="{{speaker.speakerAvatar}}" onerror="this.src='assets/img/personIcon.png'">
					</ion-avatar>
					<!--<ion-icon item-right  name=bookmarks></ion-icon>-->
					<ion-icon item-right name="{{speaker.navigationArrow}}"></ion-icon>
					<h2>{{speaker.DisplayNameLastFirst}}</h2>
					{{speaker.DisplayCredentials}}
				</ion-item>
			</ion-list>
		</ion-card-content>

	</ion-card>
	




	<ion-card *ngIf="AbstractDisplay">
		<ion-card-header class="cardHeader" style="color:#fff">
				Abstract

		</ion-card-header>

		<ion-card-content [innerHTML]="sessionAbstract" class="myMarginTopBottom">
				{{EventDetails}}
		</ion-card-content>

	</ion-card>

	<ion-card *ngIf="DescriptionDisplay">

		<ion-card-header class="cardHeader" style="color:#fff">
				Description
		</ion-card-header>

		<ion-card-content [innerHTML]="sessionAbstract" class="myMarginTopBottom">
				{{EventDetails}}
		</ion-card-content>

	</ion-card>

	<ion-card *ngIf="SubEventsDisplay">

		<ion-card-header class="cardHeader" style="color:#fff">
				SubEvents
		</ion-card-header>

		<ion-card-content>

			<ion-list id="session-list3">
				<ion-item (click)="EventDetails(session.EventID)" *ngFor="let session of sessions" id="speakersessions-list-item20" style="float: left; padding-right: 10px;">
						<ion-icon name="{{session.eventTypeIcon}}"></ion-icon>
	
						<p class="myLabelBold">
							{{session.DisplayEventName}}
						</p>
						<p>
							{{session.DisplayEventTimeDateLocation}}
						</p>
		
				
						<ion-icon style="float: right" name="{{session.navigationArrow}}"></ion-icon>
				
				</ion-item>
			</ion-list>
		</ion-card-content>

	</ion-card>



	<ion-card *ngIf="RecordingShow">

		<ion-card-header class="cardHeader">
			Session Recording
		</ion-card-header>
		  
		<ion-card-content>
			<ion-icon item-left name="mic" style="padding-right: 14px;"></ion-icon>
			This session is being recorded.
		</ion-card-content>
		  
	</ion-card>

	<ion-card *ngIf="HandoutShow">
		<ion-card-header class="cardHeader" style="color:#fff">
				Handout
		</ion-card-header>
		<ion-card-content class="list" (click)="openPDF(HandoutURL)">
				<ion-icon item-left name="cloud-download" style="padding-right: 10px;"></ion-icon>
				{{HandoutFn}}
		</ion-card-content>
	</ion-card>

	<ion-card *ngIf="OtherInformationDisplay">
		<ion-card-header class="cardHeader">
			Other Information
		</ion-card-header>
		<ion-card-content class="myMarginTopBottom">
				<ion-row *ngIf=DisplayRow1>
					<ion-col col-5>
							<ion-label *ngIf=DisplaySubject><b>Subject</b><br/>{{vSubjectCode}}</ion-label>
					</ion-col>
					<ion-col col-7>
							<ion-label *ngIf=DisplayCECredits><b>CE Credits</b><br/>{{vCECredits}}</ion-label>
					</ion-col>
				</ion-row>
				<ion-row *ngIf=DisplayRow2>
					<ion-col col-5>
							<ion-label *ngIf=DisplayType><b>Type</b><br/>{{vSessionType}}</ion-label>
					</ion-col>
					<ion-col col-7>
							<ion-label *ngIf=DisplayCECreditsType><b>CE Credits Type</b><br/>{{vCECreditsType}}</ion-label>
					</ion-col>
				</ion-row>
				<ion-row *ngIf=DisplayRow3>
					<ion-col>
							<ion-label><b>Level</b><br/>{{vSessionLevel}}</ion-label>
					</ion-col>
				</ion-row>
		</ion-card-content>
	</ion-card>
	

	<ion-card *ngIf="MeetingLocationDisplay">
		<ion-card-header class="cardHeader" style="color:#fff">
				Locator
		</ion-card-header>
		<ion-card-content class="myMarginTopBottom">
				<div #map id="map1" style="width:100%; height:400px;"></div>
		</ion-card-content>
</ion-card>



</ion-content>

