<ion-header>
	<ion-navbar color="primary">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Full Agenda</ion-title>
	</ion-navbar>
</ion-header>


<ion-content>

	<!--Segment Menu Bar-->

		<ion-segment style="padding:0; margin:0" [(ngModel)]="agenda">
			<ion-segment-button value="myagenda" style="background:#004c94; color:#fff">
				My Agenda
			</ion-segment-button>
			<ion-segment-button value="fullagenda" style="background:#004c94; color:#fff">
				Full Agenda
			</ion-segment-button>
		</ion-segment>


	<!--My Agenda Contents-->
	<div style="padding:0!important" [ngSwitch]="agenda">
		<ion-list style="padding:0!important;margin:0!important" *ngSwitchCase="'myagenda'" id="agendafull-list3">
			<ion-item>

				<!-- Tuesday agenda items -->
				<ion-card style="padding:0!important;margin:0!important">
					<ion-card-header style="background:#283593; color:#fff">
						<h2 style="color:#fff">Wednesday, April 24</h2>
					</ion-card-header>
					<ion-card-content>
						<ion-item text-wrap (click)="EventDetails(agendaTue.visEventID)" *ngFor="let agendaTue of agendaTueItems" id="fullagenda-list-item19" >
							<ion-icon style="color:#283593" item-left name="{{agendaTue.eventTypeIcon}}"></ion-icon>
							<ion-icon item-right name="arrow-dropright"></ion-icon>
							<h2>{{agendaTue.EventName}}</h2>
							<p>{{agendaTue.visEventTimeframe}}</p>
							<p>{{agendaTue.EventLocation}}</p>
							<p [ngClass]="agendaTue.SessionStatusStyle">{{agendaTue.SessionStatus}}</p>
						</ion-item>
					</ion-card-content>
				</ion-card>

				<!-- Wednesday agenda items -->
				<ion-card style="padding:0!important;margin:0!important">
					<ion-card-header style="background:#283593; color:#fff">
						<h2 style="color:#fff">Thursday, April 25</h2>
					</ion-card-header>
					<ion-card-content>
						<ion-item text-wrap (click)="EventDetails(agendaWed.visEventID)" *ngFor="let agendaWed of agendaWedItems" id="fullagenda-list-item19" >
							<ion-icon style="color:#283593" item-left name="{{agendaWed.eventTypeIcon}}"></ion-icon>
							<ion-icon item-right name="arrow-dropright"></ion-icon>
							<h2>{{agendaWed.EventName}}</h2>
							<p>{{agendaWed.visEventTimeframe}}</p>
							<p>{{agendaWed.EventLocation}}</p>
							<p [ngClass]="agendaWed.SessionStatusStyle">{{agendaWed.SessionStatus}}</p>
						</ion-item>
					</ion-card-content>
				</ion-card>


				<!-- Thursday agenda items -->
				<ion-card style="padding:0!important;margin:0!important">
					<ion-card-header style="background:#283593; color:#fff">
						<h2 style="color:#fff">Friday, April 26</h2>
					</ion-card-header>
					<ion-card-content>
						<ion-item text-wrap (click)="EventDetails(agendaThu.visEventID)" *ngFor="let agendaThu of agendaThuItems" id="fullagenda-list-item20">
							<ion-icon style="color:#283593" item-left name="{{agendaThu.eventTypeIcon}}"></ion-icon>
							<ion-icon item-right name="arrow-dropright"></ion-icon>
							<h2>{{agendaThu.EventName}}</h2>
							<p>{{agendaThu.visEventTimeframe}}</p>
							<p>{{agendaThu.EventLocation}}</p>
							<p [ngClass]="agendaThu.SessionStatusStyle">{{agendaThu.SessionStatus}}</p>
						</ion-item>
					</ion-card-content>
				</ion-card>


				<!-- Friday agenda items -->
				<ion-card style="padding:0!important;margin:0!important">
					<ion-card-header style="background:#283593; color:#fff">
						<h2 style="color:#fff">Saturday, April 27</h2>
					</ion-card-header>
					<ion-card-content>
						<ion-item text-wrap (click)="EventDetails(agendaFri.visEventID)" *ngFor="let agendaFri of agendaFriItems" id="fullagenda-list-item21">
							<ion-icon style="color:#283593" item-left name="{{agendaFri.eventTypeIcon}}"></ion-icon>
							<ion-icon item-right name="arrow-dropright"></ion-icon>
							<h2>{{agendaFri.EventName}}</h2>
							<p>{{agendaFri.visEventTimeframe}}</p>
							<p>{{agendaFri.EventLocation}}</p>
							<p [ngClass]="agendaFri.SessionStatusStyle">{{agendaFri.SessionStatus}}</p>
						</ion-item>
					</ion-card-content>
				</ion-card>

			</ion-item>
		</ion-list>
	</div>


	<!-- Full Agenda Contents -->
	<div style="padding:0!important;margin:0!important" [ngSwitch]="agenda">
		<ion-list style="padding:0!important;margin:0!important" *ngSwitchCase="'fullagenda'" id="agendafull-list3">

			<ion-item>

				<!-- Day 1 agenda items -->
				<ion-card style="padding:0!important;margin:0!important">
					<ion-card-header style="background:#283593; color:#fff">
						<h2 style="color:#fff">Wednesday, April 24</h2>
					</ion-card-header>
					<ion-card-content>
						<ion-item text-wrap (click)="SessionDetails(fullagendaDay1.visEventID)" *ngFor="let fullagendaDay1 of fullagendaDay1Items" id="fullagendaDay1-list-item19" >
							<ion-icon style="color:#283593" item-left name="{{fullagendaDay1.eventTypeIcon}}"></ion-icon>
							<ion-icon item-right name="arrow-dropright"></ion-icon>
							<h2>{{fullagendaDay1.EventName}}</h2>
							<p>{{fullagendaDay1.visEventTimeframe}}</p>
							<p>{{fullagendaDay1.EventLocation}}</p>
							<p>{{fullagendaDay1.visCourseID}}</p>
							<p [ngClass]="fullagendaDay1.SessionStatusStyle">{{fullagendaDay1.SessionStatus}}</p>
						</ion-item>
					</ion-card-content>
				</ion-card>

				<!-- Day 2 agenda items -->
				<ion-card style="padding:0!important;margin:0!important">
					<ion-card-header style="background:#283593; color:#fff">
						<h2 style="color:#fff">Thursday, April 25</h2>
					</ion-card-header>
					<ion-card-content>
						<ion-item text-wrap (click)="SessionDetails(fullagendaDay2.visEventID)" *ngFor="let fullagendaDay2 of fullagendaDay2Items" id="fullagendaDay2-list-item19" >
							<ion-icon style="color:#283593" item-left name="{{fullagendaDay2.eventTypeIcon}}"></ion-icon>
							<ion-icon item-right name="arrow-dropright"></ion-icon>
							<h2>{{fullagendaDay2.EventName}}</h2>
							<p>{{fullagendaDay2.visEventTimeframe}}</p>
							<p>{{fullagendaDay2.EventLocation}}</p>
							<p>{{fullagendaDay2.visCourseID}}</p>
							<p [ngClass]="fullagendaDay2.SessionStatusStyle">{{fullagendaDay2.SessionStatus}}</p>
						</ion-item>
					</ion-card-content>
				</ion-card>

				<!-- Day 3 agenda items -->
				<ion-card style="padding:0!important;margin:0!important">
					<ion-card-header style="background:#283593; color:#fff">
						<h2 style="color:#fff">Friday, April 26</h2>
					</ion-card-header>
					<ion-card-content>
						<ion-item text-wrap (click)="SessionDetails(fullagendaDay3.visEventID)" *ngFor="let fullagendaDay3 of fullagendaDay3Items" id="fullagendaDay2-list-item19" >
							<ion-icon style="color:#283593" item-left name="{{fullagendaDay3.eventTypeIcon}}"></ion-icon>
							<ion-icon item-right name="arrow-dropright"></ion-icon>
							<h2>{{fullagendaDay3.EventName}}</h2>
							<p>{{fullagendaDay3.visEventTimeframe}}</p>
							<p>{{fullagendaDay3.EventLocation}}</p>
							<p>{{fullagendaDay3.visCourseID}}</p>
							<p [ngClass]="fullagendaDay3.SessionStatusStyle">{{fullagendaDay3.SessionStatus}}</p>
						</ion-item>
					</ion-card-content>
				</ion-card>

				<!-- Day 4 agenda items -->
				<ion-card style="padding:0!important;margin:0!important">
					<ion-card-header style="background:#283593; color:#fff">
						<h2 style="color:#fff">Saturday, April 27</h2>
					</ion-card-header>
					<ion-card-content>
						<ion-item text-wrap (click)="SessionDetails(fullagendaDay4.visEventID)" *ngFor="let fullagendaDay4 of fullagendaDay4Items" id="fullagendaDay2-list-item19" >
							<ion-icon style="color:#283593" item-left name="{{fullagendaDay4.eventTypeIcon}}"></ion-icon>
							<ion-icon item-right name="arrow-dropright"></ion-icon>
							<h2>{{fullagendaDay4.EventName}}</h2>
							<p>{{fullagendaDay4.visEventTimeframe}}</p>
							<p>{{fullagendaDay4.EventLocation}}</p>
							<p>{{fullagendaDay4.visCourseID}}</p>
							<p [ngClass]="fullagendaDay4.SessionStatusStyle">{{fullagendaDay4.SessionStatus}}</p>
						</ion-item>
					</ion-card-content>
				</ion-card>

			</ion-item>
		</ion-list>
	</div>

</ion-content>




